# Kern-Bibliotheken für Datenverarbeitung und Streamlit
streamlit==1.30.0
pandas==1.5.3
numpy==1.24.2

# Machine Learning - GMLVQ
scikit-learn==1.2.2
scipy==1.10.1
sklearn-lvq==1.1.1
joblib==1.2.0
threadpoolctl==3.1.0 

# CKKS / Homomorphe Verschlüsselung
tenseal==0.3.15

# Andere Bibliotheken
altair==5.0.1
plotly==5.13.1
matplotlib==3.7.2
seaborn==0.12.2
