# Web framework & server
uvicorn[standard]==0.37.0
fastapi==0.117.1
pydantic==2.8.2
pydantic-core==2.20.1

# UI frontend
streamlit
plotly
matplotlib==3.10.1

# Data handling & ML
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.6.1
sklearn-lvq==1.1.1 
scipy== 1.10.0      

# Homomorphic encryption
tenseal==0.3.16
joblib

# HTTP requests
requests
