# =========================
# Web framework & server
# =========================
uvicorn[standard]==0.37.0
fastapi
pydantic
pydantic-core

# =========================
# UI / Frontend & Visualization
# =========================
streamlit
plotly
matplotlib==3.10.1
altair==5.3.0

# =========================
# Data handling & Machine Learning
# =========================
pandas==2.2.3
numpy==1.26.4
scikit-learn
sklearn-lvq==1.1.1
scipy==1.10.0
joblib  

# =========================
# Homomorphic encryption
# =========================
tenseal

# =========================
# HTTP requests / Networking
# =========================
requests

# =========================
# Internals / Streamlit dependencies
# =========================
pyarrow==15.0.2
rpds-py==0.13.2
